html, * {
  padding:0;
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
  font-size:14px;
}
.main-content {
  margin:25px;
  width:400px;
}
.tasks-list-header {
  margin:10px 0;
}
.task-list {
  margin:25px 0;
  background:#efefef;
  padding:10px;
}
.task {
  border:1px solid #dedede;
  border-radius:5px;
  padding:10px;
  margin:0 0 10px;
  background:#fff;
}
.task-header {
  position:relative;
}
.task-list-title {
  margin-bottom:10px;
}
.select-status {
  position: absolute;
  top:0;
  right:0;
}
.select-status select {
  font-size:0.8em;
}
.select-status select option {
  font-size:inherit;
}
.task-title {
  margin-bottom:15px;
}
.task hr {
  height:0;
  border:0;
}
.task-body {
  font-size:0.8em;
  color:#999;
}
button {
  padding:5px;
  cursor:pointer;
}